<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Wordnik Reader</h1>
    <p class="lead">Understanding in just a click!</p>
  </div>
</header>

<div class="container" ng-hide="show">
	<div class="row">
		<h3>Paste Article URL</h3>
		<input type="text" class="form-control" ng-model="url">
		<button ng-click="getArticle(url)">Get Article!</button>
	</div>
</div>

<div class="container" ng-show="show">
	<div class="row">
		<h3>{{title}}</h3>
		<h5>{{summary}}</h5>
		<h6>{{byline}}</h6>
		<div ng-repeat="paragraph in content">
			<p>{{paragraph}}</p>
		</div>
		<button type="button" class="btn btn-primary" ng-click="changeShow()">Get Another Article!</button>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/migidomingo">@migidomingo</a></p>
  </div>
</footer>
